header {
    background-color: #00008B;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header .row h1 {
    padding-left: 50px;
    color: #FFFFFF;
}

#title {
    color: gold;
}

#title:hover {
  color: #ffffff;
}

.login {
    color: #FFFFFF;
    margin-top: 20px;
	text-align: center;
}

body{
    background-color: #E6E6FA;
    background-size: cover;
}

.jumbotron {
  background-image: url(../images/carousel/metro_ponte.png);
  background-size: cover;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

#myCarousel {
    width:640px;
    height:360px;
    text-align:center;
    margin: auto;
}

.comment {
    padding: 20px;
    display: block;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #E6E6FA;
}

.comment p {
    font-size: 20px;
    background-color: #F0F8FF;
    border-radius: 5px;

}

#author {
    font-size: 25px;
}


#empty {
    font-size:25px;
}

.container h2 {
    text-align:center;
}

.page-footer {
    background-color: #000080;
    color: #FFFFFF;
    text-align:center;
}