.page-header {
    color: #0000FF;
}


h1 a {
    color: #000000;
    text-align:center;
}

.comment {
    display: inline-block;
}

body {
    background-image:url("static/images/carousel/porto_wallpaper.jpg");
    background-size: cover;
}