{% load staticfiles %}
<html>
    <head>
        <title>WM_Porto</title>
        <link rel="shortcut icon" href="{% static 'images/porto_favicon.png' %}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link rel="stylesheet" href="{% static 'css/post.css' %}">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <header>
  		    <div class="row">
  		        <h1 class="col-sm-10"><a id="title" href="/">Is Porto the best european destination?</a></a></h1>
                {% if user.is_authenticated %}
                    <p class="login col-sm-2"> Hello {{ user.username }}&#9786;! <small><a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></small></p>
                {% else %}
                    <a class="login col-sm-1 btn btn-primary" href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span>Login</a>
                {% endif %}
            </div>
        </header>    
        
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="page-footer">
            <p><strong>&copy; Daniela Socas Gil</strong></p>
        </div>
    </body>
</html>